/* -----------------------------------------Navbar */

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #6a6ec2;

}

.navbar-brand {
    font-size: 200%;
}

/* -----------------------------------------Home Page Content*/


.main-content {
    position: absolute;
    top: 75px;
}
/* pushes content below navbar */



#video-container {
    padding: 0;
    margin: 0;
}

#cover-video {
    width: 100%;
    height: auto;
  }


  
/* -----------------------------------------footer*/

.footer-look {
    background-color: #6a6ec2;
}

#footer-nav {
    list-style-type: none;
}

#footer-nav li {
    float: left;
}

#footer-nav li a {
    color: black;
    text-decoration: none;
}

#footer-socials {
    list-style-type: none;
    
}

#footer-socials li {
    padding-left: 0px;
    
}

#footer-socials li a {
    color: black;
    font-size: 200%;
}

.justify-content-center {
    padding: 0;
}